<h1>Book Reviews</h1>
@if (!reviews) {
	<em>Loading...</em>
} @else {
	@for (review of reviews; track $index) {
		<div>
			<h3>{{ review.title }}</h3>
			<!-- <p>{{ review.author }}</p> -->
			<p>
				<strong>Date</strong>:
				{{ review.createdAt | date: "MMMM d, y, h:mm a" }}
			</p>
			@if (review.createdAt != review.lastUpdatedAt) {
				<p>
					Last Updated:
					{{ review.lastUpdatedAt | date: "MMMM d, y, h:mm a" }}
				</p>
			}
			<p>{{ review.body }}</p>
			<p><strong>Rating</strong>: {{ review.rating }}</p>
			<p>
				<strong>Tags</strong>:
				@if (review.tags.length > 0) {
					<span>
						@for (tag of review.tags; track $index) {
							<span>{{ tag }}</span
							>,
						}
					</span>
				} @else {
					<span>N/A</span>
				}
			</p>
		</div>
		<hr />
	}
	<p-paginator
		(onPageChange)="onPageChange($event)"
		[rows]="pageSize"
		[totalRecords]="totalCount"
		[rowsPerPageOptions]="[10, 20, 30]"
	></p-paginator>
}
