<div>
	<h1>Search a Book</h1>

	<!-- Search Form -->
	<form class="book-search" [formGroup]="form" (ngSubmit)="searchBooks()">
		<span class="p-input-icon-left"
			><i class="pi pi-search"></i
			><input
				type="text"
				pInputText
				formControlName="searchQuery"
				id="book-query"
				placeholder="Search A Book"
		/></span>
		<p-button type="submit" label="Submit"></p-button>
	</form>

	<!-- Search Results -->
	<div>
		@if (!searchResults) {
			<p><em>Search For A Book!</em></p>
		} @else {
			@if (searchResults.length == 0) {
				<p><em>No results</em></p>
			} @else {
				@for (result of searchResults; track $index) {
					<app-book-list-item
						[id]="result.id"
						[title]="result.title"
						[authors]="result.authors"
						[imageLinks]="result.imageLinks"
						[textSnippet]="result.textSnippet"
						[isbn_10]="result.isbn_10"
						[isbn_13]="result.isbn_13"
						[other_id]="result.other_id"
					>
					</app-book-list-item>
					<hr />
				}
			}
		}
	</div>
</div>
