<div class="login">
	<h1>Login</h1>
	<p>Welcome back, returning user!</p>
	<div>
		@if (loginResult && !loginResult.success) {
			<p-messages [(value)]="errorMessage" [enableService]="false" />
		}
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<!-- Username -->
			<div class="form-item">
				<label for="username">Username</label>
				<input
					id="title"
					type="text"
					pInputText
					formControlName="username"
				/>
			</div>

			<!-- Password -->
			<div class="form-item">
				<label for="password">Password</label>
				<p-password
					id="password"
					formControlName="password"
					[feedback]="false"
					[toggleMask]="true"
				/>
			</div>

			<small class="bottom-text"
				>Don't have an account?
				<a [routerLink]="['/signup']">Register</a> here!</small
			>

			<p-button
				type="submit"
				label="Login"
				severity="primary"
				class="button"
			/>
		</form>
	</div>
</div>
