<!-- The review item displayed on the global reviews page -->
<div class="review-list-item" id="{{ id }}">
	<!-- Review info -->
	<section class="review-container">
		<h3>{{ title }}</h3>
		<!-- <p>{{ review.author }}</p> -->
		<div>
			<small>Uploaded {{ createdAt | date: "MMMM d, y, h:mm a" }}</small>
			<small> | </small>
			@if (createdAt != lastUpdatedAt) {
				<small>
					Last Updated
					{{ lastUpdatedAt | date: "MMMM d, y, h:mm a" }}
				</small>
			}
			<small> | </small>
			<small>ID #{{ id }}</small>
		</div>
		<p>
			<small
				>On the book <em>{{ title }}</em></small
			>
		</p>
		<p>{{ body }}</p>
		<p><strong>Rating</strong>: {{ rating }}/<strong>10</strong></p>
		<div class="bottom-row">
			<p>
				<strong>Tags</strong>:
				@if (tags.length > 0) {
					<span>
						@for (tagName of tags; track $index) {
							<p-tag
								[routerLink]="['/reviews']"
								[queryParams]="{ tag: tagName }"
								severity="info"
								value="{{ tagName }}"
								class="tag"
								(onClick)="redirectWithTag(tagName)"
							/>
						}
					</span>
				} @else {
					<span>N/A</span>
				}
			</p>
			<p>
				@if (isLoggedIn) {
					<a
						[routerLink]="[
							'/books',
							bookId,
							'reviews',
							id,
							'edit-review'
						]"
						class="p-button"
						>Edit</a
					>
					<p-button (onClick)="deleteReview(id)" label="Delete" />
				}
			</p>
		</div>
	</section>
</div>
