<h1>Book Reviews</h1>
@if (!reviews) {
	<p><em>No reviews yet. Let's go find a book!</em></p>
} @else {
	@for (review of reviews; track $index) {
		<app-global-review-list-item
			[id]="review.id"
			[title]="review.title"
			[body]="review.body"
			[createdAt]="review.createdAt"
			[lastUpdatedAt]="review.lastUpdatedAt"
			[bookId]="review.bookId"
			[rating]="review.rating"
			[tags]="review.tags"
		></app-global-review-list-item>
		<hr />
	}
	<p-paginator
		(onPageChange)="onPageChange($event)"
		[rows]="pageSize"
		[totalRecords]="totalCount"
		[rowsPerPageOptions]="[10, 20, 30]"
	></p-paginator>
}
