<div class="book-details">
	<!-- Book details -->
	<section>
		<!-- Picture and main info -->
		<div class="primary-info">
			<div>
				@if (bookDetails.imageLinks != null) {
					<img
						src="{{ bookDetails.imageLinks.thumbnail }}"
						alt="Book cover of {{ bookDetails.title }}"
					/>
				} @else {
					<img src="" alt="No book cover" />
				}
			</div>
			<div>
				<h1>{{ bookDetails.title }}</h1>
				@if (bookDetails.subtitle) {
					<h2>{{ bookDetails.subtitle }}</h2>
				}
				<p>Authors: {{ bookDetails.authors }}</p>
			</div>
		</div>
		<!-- Other info -->
		<div class="secondary-info">
			<p [innerHTML]="bookDetails.description"></p>
			<p>Page count: {{ bookDetails.pageCount }}</p>
			<p>Publisher: {{ bookDetails.publisher }}</p>
			<p>Publish date: {{ bookDetails.publishDate }}</p>
			<p>ISBN 10: {{ bookDetails.isbn_10 }}</p>
			<p>ISBN 13: {{ bookDetails.isbn_13 }}</p>
			<p>Other ID: {{ bookDetails.other_id }}</p>
		</div>
	</section>
	<!-- TODO place create review form here instead of separate page -->
	<!-- <div><p>Create a review...</p></div> -->
	<div>
		<p-button
			type="submit"
			label="Write A Review"
			[routerLink]="['/books', id, 'create-review']"
		>
		</p-button>
	</div>
	<!-- All reviews (paginated) -->
	<div>
		@if (!bookReviews) {
			<p><em>No reviews yet.</em></p>
		} @else {
			@for (review of bookReviews; track $index) {
				<app-review-list-item
					[id]="review.id"
					[title]="review.title"
					[body]="review.body"
					[createdAt]="review.createdAt"
					[lastUpdatedAt]="review.lastUpdatedAt"
					[bookId]="review.bookId"
					[rating]="review.rating"
					[tags]="review.tags"
				></app-review-list-item>
			}
		}
	</div>
</div>
