<!-- The review item displayed on the global reviews page -->
<div class="global-review-list-item" id="{{ id }}">
	<!-- Picture -->
	<section class="image-container">
		@if (bookDetails.imageLinks != null) {
			<img
				src="{{ bookDetails.imageLinks.thumbnail }}"
				alt="Book cover of {{ bookDetails.title }}"
			/>
		} @else {
			<img src="#" alt="No book cover" />
		}
	</section>

	<!-- Review info -->
	<section class="review-container">
		<h3>
			<a [routerLink]="['/books', bookDetails.id]" fragment="{{ id }}">{{
				title
			}}</a>
		</h3>
		<div>
			<small>Uploaded {{ createdAt | date: "MMMM d, y, h:mm a" }}</small>
			<small> | </small>
			@if (createdAt != lastUpdatedAt) {
				<small>
					Last Updated
					{{ lastUpdatedAt | date: "MMMM d, y, h:mm a" }}
				</small>
			}
			<small> | </small>
			<small>ID #{{ id }}</small>
		</div>
		<p>
			<small
				>On the book <em>{{ bookDetails.title }}</em></small
			>
		</p>
		<p>
			<a [routerLink]="['/profile', authorDetails.username]">{{
				authorDetails.username
			}}</a>
			says: {{ body }}
		</p>
		<p><strong>Rating</strong>: {{ rating }}/<strong>10</strong></p>
		<div class="bottom-row">
			<p>
				<strong>Tags</strong>:
				@if (tags.length > 0) {
					<span>
						@for (tagName of tags; track $index) {
							<p-tag
								[routerLink]="['/reviews']"
								[queryParams]="{ tag: tagName }"
								severity="info"
								value="{{ tagName }}"
								class="tag"
								(onClick)="redirectWithTag(tagName)"
							/>
						}
					</span>
				} @else {
					<span>N/A</span>
				}
			</p>
			<p>
				@if (isLoggedIn && authorIsViewing) {
					<a
						[routerLink]="[
							'/books',
							bookId,
							'reviews',
							id,
							'edit-review'
						]"
						class="p-button"
						>Edit</a
					>
					<p-button (onClick)="deleteReview(id)" label="Delete" />
				}
			</p>
		</div>
	</section>
</div>
